*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 15px;
    color: #555555;
}

label{
    font-size: 0.8rem;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #8AE4E2;
    background: linear-gradient();
    background: linear-gradient(45deg, #90eca0, #99d6d5);
}

.bloc{
    width: 380px;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 20px 0;
    display: none;
}

#index{
    display: block;
}

.index-change{
    display: none;
}

.presentation{
    margin: 0 40px 20px;
}

.identite{
    margin: 0 30px;
    position: relative;
}

.center{
    text-align: center;
}

.theme{
    padding: 45px 0 25px;
    font-weight: 100;
    font-size: 1.6rem;
}

input[type="text"], input[type="email"]{
    width: 100%;
    height: 37px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s ease;
}

input[type="text"]:hover{
    border: 2px solid rgba(17, 107, 241, 0.8);
    transition: 0.5s ease;
}

input[type="email"]:hover{
    border: 2px solid rgba(17, 107, 241, 0.8);
}

form div{
    margin: 15px 0;
}

.commencer{
    display: flex;
    justify-content: center;
}

.commencer input{
    margin-top: 10px;
    width: 149px;
    height: 40px;
    border: 0;
    background-color: #008632;
    color: white;
    border-radius: 2px;
    font-size: 0.8rem;
}

.commencer input:hover{
    border: 2px solid blue;
}


/* ##################################################################### */

.questionnaire, .num-question, .timing{
    display: flex;
}

.response{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-question{
    margin: 0 30px 20px;
}

.questionnaire{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.list-question{
    padding: 45px 0 25px;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}

.checkboxs{
    width: 100%;
    height: 37px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s ease;
    display: flex;
    align-items: center;
}

.ques{
    margin-right: 5px;
}

.progress{
    width: 100%;
    height: 7px;
    background-color: #dddddd;
    border-radius: 10px;
}

.progress .progress-inner{
    background-color: #009738;
    height: 7px;
    width: 100%;
    border-radius: 10px;
}

.checkboxs input{
    margin-right: 10px;
    margin-left: 10px;
}

.checkboxs:hover{
    border: 2px solid blue;
}

.quit-suivant{
    display: flex;
    justify-content: space-between;
}

.quit-suivant input:first-child{
    margin-top: 10px;
    margin-right: 10px;
    width: 149px;
    height: 40px;
    border: 0;
    background-color: #F28700;
    color: white;
    border-radius: 2px;
    font-size: 0.8rem;
}

.quit-suivant input:last-child{
    margin-top: 10px;
    margin-left: 10px;
    width: 149px;
    height: 40px;
    border: 0;
    background-color: #86D7ad;
    color: white;
    border-radius: 2px;
    font-size: 0.8rem;
}

.img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.nom-joueur{
    font-weight: 100;
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.email-joueur{
    text-align: center;
    margin: 25px 0 6px;
    font-size: 16px;
}

.vers-accueil input{
    margin-top: 10px;
    width: 149px;
    height: 40px;
    border: 0;
    background-color: #2c6cda;
    color: white;
    border-radius: 2px;
    font-size: 0.8rem;
}

.num-page{
    margin:0 0 20px;
    font-weight: 600;
}

.img-neg{
    margin: 10px 0;
}

#erreur-email{
    font-size: 15px;
    color: red;
    position: absolute;
    top: 0;
    padding-top: 125px;
}

#erreur-nom{
    font-size: 15px;
    color: red;
    position: absolute;
    top: 0;
    padding-top: 45px;
}

